<html>
    <head><title>Наш магазин</title></head>
    <body>
    
    <!-- Main menu -->
    <table>
        <tr>
            <td>Начало</td>
            <td>Товары</td>
        </tr>
    </table>
    <!-- End of Main menu -->
    
    <!-- Main title -->
    <h1>Наш крутой магазин</h1>
    <!-- End of Main title -->
    
    <div id="contents">
    <!-- Contents -->
    
    <p>Московское время {{ current_time }}</p>
    
    <p>Добро пожаловать!!!</p>
    <!-- End of contents -->
    </div>
    
    </body>
</html>
